body {
    text-align: center;
    margin-top: 0;
    background-color: #F0EEED;
    font-family: 'PT Sans', sans-serif;
    font-size: large;
}

.yuvraj-kamat-img {
    width: 10%;
}

.top-container {
    height: 90%;
    background-color: #F0EEED;
    padding-top: 5%;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: lightgrey;
    border-width: 5px;
    margin: 70px auto;
}

p {
    margin: 50px auto;
}